@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

html,
body {
  height: 100vh;
  color: black;
  background-color: black;
  margin: 0 auto;
}

/* --------------------------------------- wrappers */
.page-wrapper {
  min-height: 100%;
  margin-bottom: -3rem;
}

.init-wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
}

/* --------------------------------------- game content */
.container-game {
  margin: auto;
  text-align: center;
}

.color-panel {
  margin: auto;
  width: 700px;
  border-radius: 800px;
}

.quarter-circle {
  margin: 0;
  float: left;
  position: relative;
  width: 350px;
  height: 350px;
  z-index: 8;
  border: 5px solid black;
}

.top-right {
  background-color: #00006e;
  border-radius: 0 400px 0 0;
}

.bottom-right {
  background-color: #a37400;
  border-radius: 0 0 400px 0;
}

.bottom-left {
  background-color: #6c0101;
  border-radius: 0 0 0 400px;
}

.top-left {
  background-color: #005900;
  border-radius: 400px 0 0 0;
}

.control-panel {
  border: 15px solid black;
  height: 380px;
  width: 380px;
  border-radius: 200px;
  background-color: silver;
  position: absolute;
  z-index: 10;
  margin-top: 160px;
  margin-left: 160px;
  box-shadow: -6px 8px 5px 0px rgba(29, 33, 36, 0.55);
}

.title {
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.switch-container {
  margin: 15px auto;
}

.count {
  border: solid 2px black;
  border-radius: 10px;
  color: #fafafa;
  width: 90px;
  height: 50px;
  font-size: 30px;
  background-color: black;
  margin: 0 auto;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.start {
  text-align: center;
  margin: auto;
  border: solid 3px black;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  color: black;
  line-height: 50px;
  padding: 5px;
}

.start {
  background-color: #c70000;
}

.strict, .on, .mute {
  text-align: center;
  margin: 0px;
  border: solid 3px black;
  width: 30px;
  height: 30px;
  color: black;
}

.switch-margin {
  margin-right: 45px;
}

/* --------------------------------------- footer */
footer {
  background-color: rgba(248, 249, 250, 0.1);
  color: #cbcbcb;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
}

footer,
.push {
  height: 3rem;
}

footer p {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

footer a {
  color: #cbcbcb;
}

footer a:hover {
  color: #daa520;
}
